<a href="https://colab.research.google.com/github/darioblandon/Curso1/blob/main/S3/Taller_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataframes y Series de Pandas

## Ejemplos

`pandas` es una biblioteca que respresenta una extensión de numpy, para la manipulación y análisis de datos en Python.

In [1]:
#importemos la libreria de pandas 
import numpy as np
import pandas as pd

uno de los bojetos mas importantes del modulo pandas son los dataframes, los cuales son colecciones de datos en forma de tabla. Un data frame puede ser creado de varias formas; usando diccionarios , arreglos de numpy , etc. Veamos un ejemplo

In [2]:
#Definimos los arreglos que seran utilizamos para la creacion del dataframe
x = np.arange(0, 10) #Definimos un arrelgos 1D usando la funcion np.arange
x1 = np.sin(x) #creamos otro arreglo 1D que sea el resultado de aplicar la funcion np.sin y lo asignamos a la variable x1

In [3]:
#Creacion de un dataframe usando el arreglo 1D de numpy. Obeserve que el nombre de las columnas se asigna usando lisas de python
pd.DataFrame(x1 , columns=['sin(x)'])

     sin(x)
0  0.000000
1  0.841471
2  0.909297
3  0.141120
4 -0.756802
5 -0.958924
6 -0.279415
7  0.656987
8  0.989358
9  0.412118

Como se acaba de ver, es posible crear un dataframe apartir de un arreglo 1D de numpy. La creacion de los dataframes tambien puede realizarse utilizanso arreglos 2D de numpy donde la primera columna correponde a sin(x), y la segunda columna corresponde a cos(x). Existen multiples formas de construir este arreglo 2D mencionado, nosotros lo aremos apartir de definir un arreglo 2D cyas entradas tiene el valor 0 y luego re-asignaremos las columnas

In [4]:
np.ones?

In [5]:
#Miremos la funcion np.ones que nos permite crear lleno de unos
np.ones(shape=(10,2), )

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [6]:
#Ahora asignemos este arreglo lleno de unos a una variable llamada arreglo
arreglo = np.ones(shape=(10,2))

In [7]:
arreglo

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [8]:
#Ahora procemos a re-asignar las columnas de nuestro arreglo 
arreglo[:,0] = np.sin(x) #cambiamos el valor de la columa 0 
arreglo[:,1] = np.cos(x) #cambiamos el valor de la columa 1

In [9]:
arreglo

array([[ 0.        ,  1.        ],
       [ 0.84147098,  0.54030231],
       [ 0.90929743, -0.41614684],
       [ 0.14112001, -0.9899925 ],
       [-0.7568025 , -0.65364362],
       [-0.95892427,  0.28366219],
       [-0.2794155 ,  0.96017029],
       [ 0.6569866 ,  0.75390225],
       [ 0.98935825, -0.14550003],
       [ 0.41211849, -0.91113026]])

Ahora que hemos construido nuestro arreglo 2D, podemos pasar a la creacion de nuestro data frame apartir de este arreglo.

In [10]:
#creacion de nuestro dataframe usando un arreglo 2D Obeserve que el nombre de las columnas se asigna usando lisas de python
df = pd.DataFrame(arreglo , columns=['sin(x)' , 'cos(x)']) 
df

     sin(x)    cos(x)
0  0.000000  1.000000
1  0.841471  0.540302
2  0.909297 -0.416147
3  0.141120 -0.989992
4 -0.756802 -0.653644
5 -0.958924  0.283662
6 -0.279415  0.960170
7  0.656987  0.753902
8  0.989358 -0.145500
9  0.412118 -0.911130

Al igual que los arreglos de numpy, lo dataframes de pandas poseen atributos , veamos algunos de estos

In [11]:
#Atributo columns
df.columns

Index(['sin(x)', 'cos(x)'], dtype='object')

In [12]:
#Atributo index
df.index

RangeIndex(start=0, stop=10, step=1)

Al igual que las columnas , los indices pueden ser nombrados (recuerde que los indices corresponden al nombre de las filas). Creemos entonces un datarame usando el arreglo 2D anteriormente definido , y ademas asignemos el nombre de las filas y el nombre de las columnas

In [13]:
#creacion del dataframe dandole el nombre a las columnas y a los indicies 
df = pd.DataFrame(arreglo , columns=['sin(x)' , 'cos(x)'], index=['x=0','x=1','x=2', 'x=3', 'x=4', 'x=5', 'x=6', 'x=7','x=8', 'x=9']) 
df

       sin(x)    cos(x)
x=0  0.000000  1.000000
x=1  0.841471  0.540302
x=2  0.909297 -0.416147
x=3  0.141120 -0.989992
x=4 -0.756802 -0.653644
x=5 -0.958924  0.283662
x=6 -0.279415  0.960170
x=7  0.656987  0.753902
x=8  0.989358 -0.145500
x=9  0.412118 -0.911130

In [14]:
#Algunos atributos de los objetos dataframes (shape, size)
df.shape , df.size

((10, 2), 20)

In [15]:
#Algunos atributos de los objetos dataframes (dtype)
df.dtypes

sin(x)    float64
cos(x)    float64
dtype: object

Los dataframes tambien pueden ser creados usando diccionarios de python

In [16]:
#Creacion de un dataframe usando diccionarios
dic = {'sin(x)':np.sin(x) , 'cos(x)':np.cos(x)}
df = pd.DataFrame(dic, index=['x=0','x=1','x=2', 'x=3', 'x=4', 'x=5', 'x=6', 'x=7','x=8', 'x=9'])
df

       sin(x)    cos(x)
x=0  0.000000  1.000000
x=1  0.841471  0.540302
x=2  0.909297 -0.416147
x=3  0.141120 -0.989992
x=4 -0.756802 -0.653644
x=5 -0.958924  0.283662
x=6 -0.279415  0.960170
x=7  0.656987  0.753902
x=8  0.989358 -0.145500
x=9  0.412118 -0.911130

In [17]:
#Metodo head de los dataframes
df.head()

       sin(x)    cos(x)
x=0  0.000000  1.000000
x=1  0.841471  0.540302
x=2  0.909297 -0.416147
x=3  0.141120 -0.989992
x=4 -0.756802 -0.653644

In [18]:
#Metodo tail de los dataframes
df.tail()

       sin(x)    cos(x)
x=5 -0.958924  0.283662
x=6 -0.279415  0.960170
x=7  0.656987  0.753902
x=8  0.989358 -0.145500
x=9  0.412118 -0.911130

Los dataframes pueden soportar diferentes tipos de datos, en diferentes columnas , sin embargo cada coluna solo puede contener un tipo de dato fundamental.

## Ejercicios

1) usando los datos de iris_dataset (esto es, los datos explicados anterior mente sobre las flores), cree un datafram que contenga las cuatro caracteristicas (es decir 'sepal length', 'sepal width', 'petal length ', 'petal width) puede cambiarle el nombre de las caracteristicas su comodidad. Recuerde que la matriz que contiene las caracteristicas se encuntra en `data['data']`

2) verificar algunos de los atributos del dataset , tales como shape, size, dtype, etc

## seleccion  y modificacion de columnas en los dataframes

In [19]:
#seleccion de columnas de los dataframes
df[['sin(x)']]

       sin(x)
x=0  0.000000
x=1  0.841471
x=2  0.909297
x=3  0.141120
x=4 -0.756802
x=5 -0.958924
x=6 -0.279415
x=7  0.656987
x=8  0.989358
x=9  0.412118

In [20]:
#seleccion de columnas de los dataframes
df[['cos(x)']]

       cos(x)
x=0  1.000000
x=1  0.540302
x=2 -0.416147
x=3 -0.989992
x=4 -0.653644
x=5  0.283662
x=6  0.960170
x=7  0.753902
x=8 -0.145500
x=9 -0.911130

In [21]:
#si no utilizamos dogles [[]] obtendremos otro objeto de pandas llamado 'Series'
type(df['sin(x)'])

pandas.core.series.Series

In [22]:
#si no utilizamos dobles [[]] obtendremos otro objeto de pandas llamado 'Series'
df['sin(x)']

x=0    0.000000
x=1    0.841471
x=2    0.909297
x=3    0.141120
x=4   -0.756802
x=5   -0.958924
x=6   -0.279415
x=7    0.656987
x=8    0.989358
x=9    0.412118
Name: sin(x), dtype: float64

Las Series de Pandas son basicamente arreglos 1D de numpy cuyos indices pueden ser nombrados tal y como vemos en el ejemplo anterios

In [23]:
#Asignemos la anterior Serie de pandas a la variable serie
serie = df['sin(x)']
serie

x=0    0.000000
x=1    0.841471
x=2    0.909297
x=3    0.141120
x=4   -0.756802
x=5   -0.958924
x=6   -0.279415
x=7    0.656987
x=8    0.989358
x=9    0.412118
Name: sin(x), dtype: float64

Las series de pandas cuentan con el atributo index y con el atributo name

In [24]:
#Atributo index de las series 
serie.index

Index(['x=0', 'x=1', 'x=2', 'x=3', 'x=4', 'x=5', 'x=6', 'x=7', 'x=8', 'x=9'], dtype='object')

In [25]:
#Atributo name de las series 
serie.name

'sin(x)'

Es posible usar el nombre de los indices en las series de pandas para seleccinar los valores de la serie, veamos un ejemplo de esto

In [26]:
#Indexacion de las series usando los indices
serie['x=1']

0.8414709848078965

In [27]:
#Slicing de la serie usando los indicies 
serie['x=2':'x=6']

x=2    0.909297
x=3    0.141120
x=4   -0.756802
x=5   -0.958924
x=6   -0.279415
Name: sin(x), dtype: float64

Los indicies en las series de pandans y los dataframes de python puede ser renombrados, para esto se debe usar una lista de python o un arreglo de numpy 1D cuya longitud sea igual al numero de indices de la serie o del dataframe. Veamos un ejemplo de esto

In [28]:
#reasignacion de los indices en una serie de pandas
serie.index = np.array(['sin(0)','sin(1)', 'sin(2)', 'sin(3)', 'sin(4)', 'sin(5)', 'sin(6)', 'sin(7)', 'sin(8)','sin(9)'])

In [29]:
serie.index

Index(['sin(0)', 'sin(1)', 'sin(2)', 'sin(3)', 'sin(4)', 'sin(5)', 'sin(6)',
       'sin(7)', 'sin(8)', 'sin(9)'],
      dtype='object')

De manera analoga se pueden modificar los indices de un dataframe, veamos un ejemplo

In [30]:
df.index

Index(['x=0', 'x=1', 'x=2', 'x=3', 'x=4', 'x=5', 'x=6', 'x=7', 'x=8', 'x=9'], dtype='object')

In [31]:
df.index = np.arange(0,10)

In [32]:
df

     sin(x)    cos(x)
0  0.000000  1.000000
1  0.841471  0.540302
2  0.909297 -0.416147
3  0.141120 -0.989992
4 -0.756802 -0.653644
5 -0.958924  0.283662
6 -0.279415  0.960170
7  0.656987  0.753902
8  0.989358 -0.145500
9  0.412118 -0.911130

Los indicies de las series de pandas y los dataframes pueden ser enteros, flotantes o cadenas de caracteres.

Veamos ahora como se hace la re-asignacion de columnas en los dataframes , la creacion de nuevas columnas y el re-nombramiento de las columnas.

para re-asignar los valores de una columna en un dataframe debe usar una lista de python o un arreglo de numpy 1D cuya longitud sea igual al numero de filas del dataframe. Veamos un ejemplo de esto

In [33]:
#creemos un arreglo de numpy con que contenga cadenas de caracteres en sus entradas, para esto consideremos una nueva funcion de numpy np.random.choice
np.random.choice(['clase_1' , 'clase_2', 'clase_3'], size=(10,1))

array([['clase_1'],
       ['clase_1'],
       ['clase_1'],
       ['clase_2'],
       ['clase_3'],
       ['clase_3'],
       ['clase_1'],
       ['clase_2'],
       ['clase_3'],
       ['clase_1']], dtype='<U7')

In [34]:
#Re-asignacion de las columnas en un dataframe
df[['sin(x)']] =  np.random.choice(['clase_1' , 'clase_2', 'clase_3'], size=(10,1))
df

    sin(x)    cos(x)
0  clase_3  1.000000
1  clase_3  0.540302
2  clase_3 -0.416147
3  clase_3 -0.989992
4  clase_1 -0.653644
5  clase_2  0.283662
6  clase_1  0.960170
7  clase_3  0.753902
8  clase_2 -0.145500
9  clase_3 -0.911130

Como se puede ver, lo valores de la columna `sin(x)` han cambiado. Ahora creemos una nueva columna que no esta en el dataframe.

In [35]:
#Creacion de nuevas columnas en un dataframe
df['exp(x)'] = np.exp(x/50)
df

    sin(x)    cos(x)    exp(x)
0  clase_3  1.000000  1.000000
1  clase_3  0.540302  1.020201
2  clase_3 -0.416147  1.040811
3  clase_3 -0.989992  1.061837
4  clase_1 -0.653644  1.083287
5  clase_2  0.283662  1.105171
6  clase_1  0.960170  1.127497
7  clase_3  0.753902  1.150274
8  clase_2 -0.145500  1.173511
9  clase_3 -0.911130  1.197217

Ahora al igual que paso con los indices, re-nombremos las columnas de nuestro dataframe

In [36]:
#Cambial el nombre de las columnas 
df.columns = ['clase', 'cos(x)', 'exp(x)']
df

     clase    cos(x)    exp(x)
0  clase_3  1.000000  1.000000
1  clase_3  0.540302  1.020201
2  clase_3 -0.416147  1.040811
3  clase_3 -0.989992  1.061837
4  clase_1 -0.653644  1.083287
5  clase_2  0.283662  1.105171
6  clase_1  0.960170  1.127497
7  clase_3  0.753902  1.150274
8  clase_2 -0.145500  1.173511
9  clase_3 -0.911130  1.197217

## Actividad

### Actividad 1 

Cargue el dataset provisto en la dirección 'https://pynative.com/wp-content/uploads/2019/01/company_sales_data.csv'  grafique la ganancia total (total_profit) para todos los meses. La gráfica debe tener las siguientes propiedades:

* El estilo de línea punteado y de color rojo 
* Mostrar la legenda (legend) en la parte inferior derecha
* X label name = Month Number
* Y label name = Profits in dollars
* Título : Company sales data of last year
* Los markers deben ser circulares y de color negro
* El grosor de la línea debe ser 3

Solución esperada:
<p><img  height="260px" src="https://pynative.com/wp-content/uploads/2019/01/matplotlib_and_pandas_exercise_2_plot_style_properties-768x512.png" align="center" hspace="10px" vspace="0px"></p>

### Actividad 2

Dataset: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

1. Importar el dataset, asignarlo a una variable llamada *users* y usar el *user_id* como índice.
2. ¿Cuál es el número de observaciones y columnas en el dataset? 
3. Mostrar el nombre de las columnas y el tipo de dato que contiene.
4. Mostrar la indexación del dataset.
5. ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?
6. ¿Cuál es la ocupación más frecuente?
7. ¿Cuál es la edad media de los usuarios?
8. ¿Cuál es la edad con menos ocurrencia?

### Actividad 3
Diccionario dado:

raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}
            
1. Crea un DataFrame llamado *army* a partir del diccionario dado 

(No olvide incluir los nombres de las columnas en el orden presentado en el diccionario ('regimen', 'company', ...) para que el orden del índice de la columna sea coherente con las soluciones. Si se omite, Pandas ordenará las columnas alfabéticamente.

2. Establezca la columna 'origin' como índice del dataset.
3. Imprima las columnas 'veterans' y 'deaths'
4. Seleccione las columnas 'deaths', 'size' y 'deserters' de Maine a Alaska.
5. Seleccione la tercera columna hasta la séptima columna.
6. Seleccione las filas donde *deaths* sea mayor que 50.
7. Seleccione las filas donde *deaths* sea mayor que 500 o menor que 50.
8. Selecciona todos los *regiments* no nombrados *Dragoons*.
9. Seleccione la tercera celda en la fila llamada *Arizona*
10. Seleccione la tercera celda en la columna llamada *deaths*

### Actividad 4

Dataset: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

1.  Importar el dataset, asignarlo a una variable llamada *users* y usar el *user_id* como índice.
2. ¿Cuál es la edad media por ocupación?
3. Descubra la proporción de hombres por ocupación y clasifíquela de mayor a menor (cree una columna).
4. Para cada ocupación calcule las edades mínimas y máximas.
5. Para cada combinación de ocupación y género calcule la edad media.
6. Para cada ocupación muestre el porcentaje de mujeres y hombres.

## Ejercicios

1) Cargue de Kaggle el data set llamado iris con pandas, visualice y analice los datos que se tienen con info() y describe()

2) Haga un diagrama circular de las especies que se tienen en el data set

In [37]:
3) Finalmente haga un grafico de dispersión de la Longitud vs Ancho del Sépalo. ¿Se puede ver una clasificación de especies segun estas caracteristica?

Object `caracteristica` not found.